<div class="workdetail">

<p style="margin-top:2em"><span class="worktitle">${work.title}</span> composed by ${h.link_to(work.composer.fullname(), h.url_for(controller='composer',action='list',id=work.composer.id))}</p>

% if work.instruments:
written for 
<div class="instrumentation">
<ul>
% for instrument in work.instruments:
<li><a href="/instrument/list/${instrument.id}" class="instrumentimage">${instrument.name}<span class="instrumentimage feature">${instrument.imagetag() | n}</span></a></li>
% endfor
</ul>
</div>
% endif

% if work.key:
in the key of 
<ul><li>
<a class="instrumentimage"  href="/key/list/${work.key.id}">${work.key.name}<span class="feature" style="background:#fff">${work.key.imagetag() | n}</span></a>
</li></ul>
% endif

% if work.movements:
in ${len(work.movements)} movements
<ul>
% for movement in work.movements:
<li><span class="movementtitle">${h.link_to(movement.liststring(), h.url_for(controller='catalog',action='movementdetail',id=movement.id))} </span>

% if movement.soundclips:
<ul>
% for soundclip in movement.soundclips:
<li><a href="${soundclip.path}" type="audio/mpeg"></a>(Audio Sample)</li>
% endfor
</ul>
% endif

</li>

% endfor
</ul>
% endif

% if work.styles:
in the style
<ul>
% for style in work.styles:
 <li>${ h.link_to(style.name, h.url_for(controller='style',action='list',id=style.id) )}</li>
% endfor
</ul>
% endif

% if work.description:
${work.description | n}
% endif

% if work.soundclips:
soundclips:
<ul>
% for soundclip in work.soundclips:
<li><a href="${soundclip.path}" type="audio/mpeg"></a></li>
% endfor
</ul>
% endif

% if work.image:
<img src =${work.image} alt="work.title">
% endif

% if work.publications:
<p>Associated to the publication${'s' if len(work.publications)>1 else ''} 
<ul>
% for publication in work.publications:
<li><a href="/catalog/publicationdetail/${publication.id}">${publication.liststring()}</a></li>
% endfor
</ul>
</p>
% endif
</div>
