<%inherit file="/work/base.html"/>

<a href="">Catalog</a> -> <a href="">Work list</a> -> <a href="">this work</a>

<table border=1px>
<tr><td>title:</td>
<td><p>${c.work.title}</p></td></tr>
<tr><td>instruments:</td>
<td><p>${c.work.instruments}</p></td></tr>
<tr><td>key:</td>
<td><p>${c.work.key}</p></td></tr>
<tr><td>movements:</td>
<td><p>${c.work.movements}</p></td></tr>
<tr><td>composer:</td>
<td><p>${c.work.composer}</p></td></tr>
<tr><td>styles:</td>
<td><p>${c.work.styles}</p></td></tr>
<tr><td>description:</td>
<td><p>${c.work.description}</p></td></tr>
<tr><td>soundclips:</td>
<td><p>${c.work.soundclips}</p></td></tr>
<tr><td>image:</td>
<td><p>${c.work.image}</p></td></tr>
</table>
